@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* primeira tabela*/

/* .timeum td{
  border:1px solid black;
} */

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;
font-size: 5px;
font-weight: bold;
padding-bottom: 7px;
padding-top: 0;
text-transform: uppercase;
}

input{
  text-transform: uppercase;
}